<p>Qeyd olunan bölmələrdən ibarət olan, postların dərc edilməsi üçün sadə mexanizm yaratmaq lazımdır. </p>
<p>1) Şifrə ilə bağlı olan yeni postların əlavə olunması səhifəsi (şifrəni 123456789 təyin edin). Post başlıqdan, tarix
  va vaxtdan, mətn və şəkildən ibarətdir.</p>
<p>2) Şəkil, başlıq, tarixdən ibarət olan postlar siyahısı səhifəsi. Səhifələnmə təmin olunmalıdır, səhifəyə 5 post.</p>
<p>3) Postun bütün məlumatlarını (şəkil, başlıq, tarix, mətn) əks etdirən səhifə.</p>
<p>Tapşırığın nəticəsi sizin fərdi (primitiv olsa da) MVC iterpretasiyasında, bootstrap interfeysli sistemdə olmalıdır.
</p>
<p>Bonus tapşırıq: Postları kənar sorğular vasitəsi ilə yerləşdirmək üçün API yaratmaq, və onun dukomentasiyasını
  hazırlamaq.</p>
<p>İşlək nəticəni xostinqdə yerləşdirmək (istənilən, pulsuz daxil olaraq), kodu isə github-da public repozitoriyada
  yerləşdirmək. Bizəlinkləri göndərin və tapşırığa sərf etdiyiniz vaxtı qeyd edin.</p>